button {
    height: 50px;
    width: 150px;
}

.singolo-articolo button {
    height: 50px;
    width: 160px;
}

/* Burger Button */

.burger-button {
    float: right;
    cursor: pointer;
    margin-top: 38px;
    margin-right: 15px;
    display: none;
}

.icon-bar {
    display: block;
    width: 22px;
    height: 1px;
    margin: 5px;
    background-color: #fff;
}

/* Go to Top Button */

.go-top-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99999;
    box-shadow: 0 5px 20px rgba(0,0,0,.6);
    transition: all 0.3s ease;
}

.go-top-button span {
    display: block;
    transform: rotateZ(90deg);
}